<div class="container">
  <div class="faqs_wrapper">
    <div class="text">
      <h1>FAQ</h1>
      <h5>- Lorem ipsum dolor sit amet consectetur adipisicing elit ?</h5>
      <p>Paleo health goth fap gastropub green juice, pabst dreamcatcher synth narwhal. Narwhal PBR&B shoreditch pork belly, tattooed seitan green juice jianbing vinyl heirloom etsy bitters kickstarter.</p>
      <h5>- Lorem ipsum dolor sit amet consectetur adipisicing elit ?</h5>
      <p>Paleo health goth fap gastropub green juice, pabst dreamcatcher synth narwhal. Narwhal PBR&B shoreditch pork belly, tattooed seitan green juice jianbing vinyl heirloom etsy bitters kickstarter.</p>
      <h5>- Lorem ipsum dolor sit amet consectetur adipisicing elit ?</h5>
      <p>Paleo health goth fap gastropub green juice, pabst dreamcatcher synth narwhal. Narwhal PBR&B shoreditch pork belly, tattooed seitan green juice jianbing vinyl heirloom etsy bitters kickstarter.</p>
      <h5>- Lorem ipsum dolor sit amet consectetur adipisicing elit ?</h5>
      <p>Paleo health goth fap gastropub green juice, pabst dreamcatcher synth narwhal. Narwhal PBR&B shoreditch pork belly, tattooed seitan green juice jianbing vinyl heirloom etsy bitters kickstarter.</p>
    </div>
  </div>
</div>
