<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="heading col-md-12">
        <div class="text">
          <h1>Your local Apple experts</h1>
          <h3>Free worldwide shipping on all orders</h3>
          <%= link_to "SHOP", products_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="categories">
  <div class="laptop">
    <div class="text">
      <h1>Laptops</h1>
      <%= link_to "See more", "#" %>  
    </div>

  </div>
  <div class="smartphones">
    <h1>Smartphones</h1>
  </div>
  <div class="tablets">
    <h1>Tablets</h1>
  </div>
</div>
