// Variables
$black: #222222;
$white: #F3F3F3;
$blue: #4795D4;
$yellow: #FFC741;


// Products index page
.products {
  width: 100%;
  overflow: hidden;
  .img {
    height: auto;
    overflow: hidden;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  h1 {
    font-weight: 700;
    color: $white;
    font-size: 1.6em;
    padding: 25px 0 25px 25px;
    background: $yellow;
    margin: 0;
  }
  h2 {
    font-size: 2em;
    a {
      color: $blue;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .product {
    text-align: center;
    padding: 25px 0 25px 0;
    margin: 25px 0 25px 0;
    border: 1px solid transparent;
    &:hover {
      transition: box-shadow 0.5s ease;
      -webkit-box-shadow: 0px -1px 41px 3px rgba(0,0,0,0.12);
      -moz-box-shadow: 0px -1px 41px 3px rgba(0,0,0,0.12);
      box-shadow: 0px -1px 41px 3px rgba(0,0,0,0.12);
    }
  }
}

// Show page
.container {
  .text {
    text-align: left;
    h2 {
      padding-top: 15px;
      text-align: center;
      font-weight: 700;
    }
    h4 {
      text-align: center;
      font-weight: 700;
    }
    p {
      opacity: .8;
      font-size: 1.2em;
    }
  }
}
